.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.white {
    background-color: #eee;
}

.cell.black {
    background-color: #999;
}

.cell.selected-piece {
    background-color: rgba(255, 0, 127, 0.5);
}

.cell.possible-move::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 165, 0, 0.7);
    border-radius: 50%;
    box-sizing: border-box;
}


