.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 2px solid #333;
}

.piece {
  width: 50px;
  height: 50px;
  user-select: none;
}
