.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 40vw;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.App h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
